body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

main {
  height: 100%;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.header {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 46%,rgba(55,0,58,1) 100%);
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  background-color: #333333;
  height: 70px;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  vertical-align: middle;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.container {
  width: 100%;
}

.logo {
  width: 250px;
  margin: 0 auto;
}

.material-icons {
  font-size: 3em;
}

.md-button.add-deed {
  background-color: rgb(4, 214, 189);
}

.md-button.shared {
  background-color: rgb(76, 88, 241);
}

.md-button.cancel {
  background-color: rgb(224, 49, 70);
}

.md-button.complete {
  background-color: rgb(104, 221, 49);
}

.md-button.deedlist {
  background-color: rgb(255, 105, 217);
}

.md-button.userinfo {
  background-color: rgb(134, 46, 223);
}

.md-button.comment-bubble {
  background-color: rgb(80, 129, 255);
}

.deedslist {
  margin-bottom: 100px;
}

.list-heading {
  display: inline;
}

i {
  float: left;
}

.md-button.save {
  background-color: rgb(255, 250, 0);
  text-shadow: 1px 1px 1px black;
}

.complete {
  color: rgb(59, 231, 0);
  text-shadow: 1px 1px 1px black;
}

.share {
  color: rgb(52, 40, 60);
}

svg {
  color: rgb(255, 255, 255);
}

.welcome {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 46%,rgba(55,0,58,1) 100%);

}

#or {
  color: white;
}

.login {
  margin-left: 50px;
}

.user-photo {
  margin-top: 25px;
  width: 200px;
  color: #666;
}

/*.completed-deeds {
  z-index: -1;
}

.shared-deeds {
  z-index: -1;
}*/

.new-deed {
  margin: 20px;
  padding-bottom: 60px;
}

.md-button.share {
  background-color: rgb(254, 176, 60);
}

.user-info {
  background-color: rgb(181, 170, 195);
  padding-bottom: 100px;
}

.personal-info {
  margin-left: 30px;
}

.md-subheader {
  background-color: rgb(181, 170, 195);
}

.md-button.logout {
  background-color: rgb(45, 45, 45);
  color: white;
}

md-dialog-content.inddeed {
  padding: 30px;
}

md-dialog-content.comment-container {
  margin: 30px 0;
  width: 90%;
}

md-dialog.comment-box {
  width: 90%;
}

md-dialog.pending-dialog {
  width: 90%;
  padding: 20px;
}

md-input-container.comment-input {
  padding-top: 50px;
  padding-left: 30px;
}

md-dialog.indeed-box {
  width: 90%;
}

.like-button {
  align-items:
}

#user-circle {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 100px;
}

md-input-container {
  width: 100%;
}

md-header.bigger-text {
  font-size: 1.4em;
}

.md-subheader.info-header {
  font-size: 1.25em;
  margin-left: -20px;
}

.info-header .md-subheader-inner {
  padding-bottom: 5px;
}

.comment-head {
  margin-left: 20px;
}

.login-form {
  padding-right: 50px;
}
