<md-dialog aria-label="List dialog" class="comment-box">
  <md-dialog-content class="comment-container">
    <div class="comment-head">
      <h4>{{deed.username}} did a good deed:</h4>
      <p>
        {{deed.description}}
      </p>
      <md-input-container class="md-block comment-input">
        <label>New Comment:</label>
        <textarea ng-model="newcomment" md-maxlength="140" rows="1" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <md-dialog-actions>
      <md-button class="md-raised" ng-click="comment(newcomment)">Add Comment</md-button>
      <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>

    </md-dialog-actions>

    <md-list flex>
      <md-list-item  class="md-2-line md-list-item-text" ng-repeat="comment in comments">
        <div layout="column" layout-align="center start">
          <h4 class="list-heading">{{ comment.username }}:</h4>
          <p>"{{ comment.comment }}"</p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-dialog-content>
</md-dialog>
