<div layout="row" layout-align="space-around center" class="navbar" ng-controller="NavController as nc">
  <!-- <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem">
      <md-nav-item md-nav-href="#/user" name="user">
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="images/icons/person.svg"></md-icon>
        </md-button>
      </md-nav-item>
      <md-nav-item md-nav-href="#/deedslist" name="deedslist">
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="images/icons/list.svg"></md-icon>
        </md-button>
      </md-nav-item>
      <md-nav-item md-nav-href="#/newdeed" name="newdeed">
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="images/icons/add.svg"></md-icon>
        </md-button>
      </md-nav-item>
      <md-nav-item md-nav-href="#/complete" name="complete">
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="images/icons/playlist_add_check.svg"></md-icon>
        </md-button>
      </md-nav-item>
      <md-nav-item md-nav-href="#/shared" name="shared">
        <md-button class="md-fab md-mini">
            <md-icon md-svg-src="images/icons/public.svg"></md-icon>
        </md-button>
      </md-nav-item>
    </md-nav-bar>
  </md-content> -->
  <!-- <div class="container">
    <ul layout="row" layout-align="space-around center">
      <li layout-align="center center"><a href="#/user"><i class="material-icons userinfo">face</i></a></li>
      <li layout-align="center center"><a href="#/deedslist"><i class="material-icons deedlist">menu</i></a></li>
      <li layout-align="center center"><a href="#/newdeed"><i class="material-icons add-deed">add_circle_outline</i></a></li>
      <li layout-align="center center"><a href="#/complete"><i class="material-icons complete">playlist_add_check</i></a></li>
      <li layout-align="center center"><a href="#/shared"><i class="material-icons shared">public</i></a></li>
    </ul>
  </div> -->
    <md-button class="md-fab md-mini md-primary" aria-label="User info" ng-click="nc.navigate('user')">
        <md-icon md-svg-src="images/icons/person.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini deedlist" aria-label="Deeds List" ng-click="nc.navigate('deedslist')">
        <md-icon md-svg-src="images/icons/list.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini add-deed">
        <md-icon md-svg-src="images/icons/add.svg" aria-label="Add a deed" ng-click="nc.navigate('newdeed')"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini complete">
        <md-icon md-svg-src="images/icons/playlist_add_check.svg" aria-label="completed deeds" ng-click="nc.navigate('complete')"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini shared">
        <md-icon md-svg-src="images/icons/public.svg" aria-label="shared deeds" ng-click="nc.navigate('shared')"></md-icon>
    </md-button>
</div>
