<div class="completed-deeds">
  <md-content>
    <md-list flex>
      <md-subheader class="md-no-sticky">Your Completed Deeds:</md-header>
      <md-list-item class="md-1-line" ng-repeat="deed in dc.completedDeeds">
        <div class="md-list-item-text" layout="column">
          <h4>{{ deed.description }}</h4>
        </div>
        <i class="material-icons share" ng-hide="deed.shared" ng-click="dc.shareDeed(deed)">share</i>
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
<div ng-include="'views/partials/nav.html'"></div>
