<div ng-include="'views/partials/header.html'"></div>
<div class="login">
  <h1 class="lead">Sign Up</h1>
  <h4 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h4>
  <form ng-submit="lc.registerUser()" class="login-form">
    <div>
      <md-input-container>
        <label for="username">Username:</label>
        <input type="text" ng-model="lc.user.username" autofocus/>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label for="password">Password:</label>
        <input type="password" ng-model="lc.user.password" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label for="password">Confirm Password:</label>
        <input type="password" ng-model="lc.user.confirmpwd" />
      </md-input-container>
    </div>
    <md-button ng-click="lc.registerUser()" class="md-raised md-primary">Register</md-button>
    <a href="#welcome">Cancel</a>
  </form>

</div>
