<div ng-include="'views/partials/header.html'"></div>
<div class="user-info">
  <div layout="column" layout-align="start center">
    <img src="images/icons/account_circle.svg" class="user-photo"/>
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
  </div>
  <div class="personal-info">
    <form editable-form name="editableForm" onbeforesave="uc.updatePartner(partner)">
      <!-- Partner form -->
      <div>
        <md-subheader>Partner:</md-subheader>
        <span ng-show="!editableForm.$visible">
          {{ uc.userObject.partner }}
        </span>
        <input ng-model="partner" ng-show="editableForm.$visible" e-name="partner" onbeforesave="checkName($data)" e-required/>
        <md-button class="md-fab md-mini userinfo" aria-label="Edit" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
          <md-icon md-svg-src="images/icons/create.svg"></md-icon>
        </md-button>
        <span ng-show="editableForm.$visible">
          <md-button type="submit" class="md-fab md-mini complete" aria-label="Confirm changes" ng-disabled="editableForm.$waiting">
            <md-icon md-svg-src="images/icons/check.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini cancel" aria-label="Cancel" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
            <md-icon md-svg-src="images/icons/clear.svg"></md-icon>
          </md-button>
        </span>
      </div>
    </form>
      <!-- Children form -->
    <form editable-form name="editableChildren" onbeforesave="uc.addChild(childToAdd)">
      <div>
        <md-subheader>Children:</md-subheader>
        <p ng-repeat="child in uc.userObject.children" ng-show="!editableChildren.$visible">
          {{ child.name }}
        </p>
        <input ng-show="editableChildren.$visible" ng-model="childToAdd" e-name="children" onbeforesave="checkName($data)" e-required/>
        <md-button class="md-fab md-mini userinfo" aria-label="Edit" ng-click="editableChildren.$show()" ng-show="!editableChildren.$visible">
          <md-icon md-svg-src="images/icons/create.svg"></md-icon>
        </md-button>
        <span ng-show="editableChildren.$visible">
          <md-button type="submit" class="md-fab md-mini complete" aria-label="Add child" ng-disabled="editableChildren.$waiting">
            <md-icon md-svg-src="images/icons/add.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini cancel" aria-label="Cancel" ng-disabled="editableChildren.$waiting" ng-click="editableChildren.$cancel()">
            <md-icon md-svg-src="images/icons/clear.svg"></md-icon>
          </md-button>
        </span>
      </div>
    </form>
    <!-- Friends form -->
    <form editable-form name="editableFriends" onbeforesave="uc.addFriend(friendToAdd)">
      <div>
        <md-subheader>Friends:</md-subheader>
        <p ng-repeat="child in uc.userObject.friends" ng-show="!editableChildren.$visible">
          {{ child.name }}
        </p>
        <input ng-show="editableFriends.$visible" ng-model="friendToAdd" e-name="friends" onbeforesave="checkName($data)" e-required/>
        <md-button class="md-fab md-mini userinfo" aria-label="Edit" ng-click="editableFriends.$show()" ng-show="!editableFriends.$visible">
          <md-icon md-svg-src="images/icons/create.svg"></md-icon>
        </md-button>
        <span ng-show="editableFriends.$visible">
          <md-button type="submit" class="md-fab md-mini complete" aria-label="Add child" ng-disabled="editableFriends.$waiting">
            <md-icon md-svg-src="images/icons/add.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini cancel" aria-label="Cancel" ng-disabled="editableFriends.$waiting" ng-click="editableFriends.$cancel()">
            <md-icon md-svg-src="images/icons/clear.svg"></md-icon>
          </md-button>
        </span>
      </div>
    </form>

    <!-- <md-subheader>Partner:</md-subheader>
    <p editable-text="uc.persons.partner" e-form="textBtnForm">{{ uc.persons.partner || "empty" }}</p>
    <md-subheader>Children:</md-subheader>
    <p editable-text="uc.persons.children" e-form="textBtnForm">{{ uc.persons.children }}</p>
    <md-subheader>Friends:</md-subheader>
    <p editable-text="uc.persons.friends" e-form="textBtnForm">{{ uc.persons.friends }}</p>
    <md-button class="md-raised md-primary" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">Edit</md-button> -->
  </div>

  <md-button class="md-raised md-warn" ng-click="uc.userService.logout()">Log Out</md-button>
</div>

<div ng-include="'views/partials/nav.html'"></div>
